---
Checks: '-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-dcl50-cpp,
  cert-env33-c,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cert-msc50-cpp,
  cert-msc51-cpp,
  cppcoreguidelines-*,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  google-build-using-namespace,
  google-explicit-constructor,
  google-global-names-in-headers,
  google-readability-casting,
  google-runtime-int,
  google-runtime-operator,
  hicpp-*,
  -hicpp-uppercase-literal-suffix,
  -hicpp-braces-around-statements,
  -hicpp-vararg,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -misc-include-cleaner'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1

