*.d 

*.slo
*.lo 
*.o 
*.obj

*.gch
*.pch

*.so 
*.dylib
*.dll

*.lai
*.la 
*.a
*.lib

*.exe
*.out
*.app

*.sh

stats

build/
out/
cmake-build/
CMakeFiles/
CMakeCache.txt

CMakeLists.txt.user
CMakeUserPresets.json

.vs/
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*~
_ReSharper*
*.log
