[submodule "ALL"]
	path = ALL
	url = git@github.com:frogrammer9/ALL.git
[submodule "Xenon/vendor/glm"]
	path = Xenon/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Xenon/vendor/glfw"]
	path = Xenon/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Xenon/vendor/stb"]
	path = Xenon/vendor/stb
	url = https://github.com/nothings/stb.git
